{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/pipeline.css' %}">

    <title>Crop Image</title>
</head>
<body>
    <div class="page-header">
    <h1>Mvisia Challenge -- Crop Image</h1>
    </div>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Crop Image</button>
    </form>

    {% if post %}
    <div class="container">
        <h1>Result of Image Croped</h1>
        <img src="{{ post.image.url }}">
        <p>File uploaded at: <a href="{{ post.image.url }}">{{ post.image }}</a></p>
    {% endif %}
    </div>

    <div class="container">
        <h1><a href="{% url 'first_view' %}"><b>Return to Home</b></a></h1>
    </div>
</body>
</html>