{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/pipeline.css' %}">
    <meta charset="UTF-8">
    <title>Mvisial Challenger</title>
</head>
<body>
    <div class="page-header">
    <h1>Mvisia Challenge</h1>
    </div>

    <div class="container">
        <h1><a href="uimage.html"><b>Upload Image</b></a></h1>

        <h1><a href="webcam.html"><b>Web Camera Capturing</b></a></h1>

    </div>
</body>
</html>